<%= form_for jist do |f| %>

  <header class="cf">
    <h1 class="title">
      <%= content_tag(:span, "##{ jist.id }", class: 'id') unless jist.new_record? %>
      <%= f.text_field :description, placeholder: 'Jist description' %>
    </h1>
  </header>

  <section class="files">
    <% if @jist.persisted? %>
      <% @jist.files(@commit).each do |file| %>
        <article class="file">
          <h1 class="filename"><%= file[:name] %></h1>

          <%= f.text_area :paste, class: 'contents', autofocus: true %>
        </article>
      <% end %>
    <% else %>
      <article class="file">
        <h1 class="filename"><%= text_field_tag 'jist[files][jistfile_1][filename]', "" , placeholder: 'Name this file...' %></h1>
        <%= f.text_area :paste, class: 'contents', autofocus: true %>
      </article>
    <% end %>
  </section>

  <div class="field">
    <%= f.submit %> <% if jist.persisted? %>or <%= link_to 'cancel', jist %><% end %>
  </div>

<% end %>