<h1><%= @jist.description %></h1>
<p><small><%= link_to "Edit", edit_jist_path(@jist) %></small></p>

<%# @jist.paste.first.message %>

<h2>Files</h2>

<% @jist.files(@commit).each do |file| %>
  <h4><%= file[:name] %></h4>
  <pre>
    <code><%= file[:data] %></code>
  </pre>
<% end %>

<h3>History</h3>
<ol>
<% @jist.commits.each do |commit| %>
  <li><%= link_to commit.id, "#{ @jist.id }/#{ commit.id }" %> <b><%= commit.author %></b> <mark><%= commit.message %></mark> <small><%= commit.authored_date %></small></li>
<% end %>
</ol>